<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @result.exercise_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>Set1:</strong>
  <%= @result.set1 %>
</p>

<p>
  <strong>Set2:</strong>
  <%= @result.set2 %>
</p>

<p>
  <strong>Set3:</strong>
  <%= @result.set3 %>
</p>

<p>
  <strong>Set4:</strong>
  <%= @result.set4 %>
</p>

<p>
  <strong>Set5:</strong>
  <%= @result.set5 %>
</p>

<p>
  <strong>Set6:</strong>
  <%= @result.set6 %>
</p>

<p>
  <strong>Set7:</strong>
  <%= @result.set7 %>
</p>

<p>
  <strong>Set8:</strong>
  <%= @result.set8 %>
</p>

<p>
  <strong>Set9:</strong>
  <%= @result.set9 %>
</p>

<p>
  <strong>Set10:</strong>
  <%= @result.set10 %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
